body{
    background-image: url("../images/dark-paths.png");    
}

/* Headeer Styles */

header{
    border-bottom:0.25em solid black;
}

.avenger{
    background-image: url("../images/avengers3.jpg");    
    background-repeat: no-repeat;
    text-align:center;
    background-size:cover; 
      
}

.h1header{
display:inline-block;
color: yellow;
font-weight: bold;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}



#guesswhoimage{
    padding:2em 0;
    max-width:350px;
}

/* Main Content Styles */

#maincontentdiv{
    padding:3.5em 0;
}

clearfix::after{
    display:block;
    clear:both;
    content: "";
}

#guessword{
    margin:0 auto;
    margin-bottom:3em;
}

.displaydiv{
    text-align: center;
}


.playnowimage{
    width:30%;

}

.howtoplayimage{
    width:10%;
    
}

#cover{
    width:90%;
    height:70%;
    padding : 3em 0;
}

#maindiv{
    text-align: center;
    margin:0 auto;
}

.placeword{
    border-bottom: 3px solid black;
    width:2em;
    padding:10px;
    margin-right:1em;
    font-weight: bold;
}

#wrongguesses{
    color:#810e05;
}

h2{
    display:inline-block;
}
h2,h3{
    font-family: 'Jomhuria', cursive;
    
}

#msg{
    
    font-family: 'Lobster', cursive;
}

#wordinfo{
    font-family: 'Play', sans-serif;
}

#imgdiv{
    max-width:100%;
    max-height:250px;
}

#displaymaindiv{
    background-image: url("../images/metal.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}


/* TextBox Styles */

#letterinput {
    padding: 5px;
    width:10em;
    font-size: 16px;
    border-width: 2px;
    border-color: #cccccc;
    background-color: aqua;
    color: #000000;
    border-style: solid;
    border-radius: 14px;
    box-shadow: 0px 6px 7px rgba(192,194,186,.75);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
    display:inline-block;
    margin-right:1em;
}
#letterinput:focus {
    outline:none;
}


/* button styles */

.myButton {
	-moz-box-shadow: 3px 4px 0px 0px #8a2a21;
	-webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color:#c62d1f;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
    margin-right:0.5em;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24437;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButton:focus {outline:0;}


/* Media Queries */

@media screen and (max-width: 640px) {
    /* header styles */
   
    #guesswhoimage{
        max-width:80%;
    }

    h2{
        font-size:3.5em;
        display:block;
    }

    h3{
        font-size:2.5em;
    }

    #guessword{
        max-width: 100%;
        margin: 0;
        margin-bottom: 2em;}

        .placeword {
            border-bottom: 0.2em solid black;
            width: 0.4em;
            padding: 0.3em;
            margin-right: 0.3em;
            font-weight: bold;
        }

        h3{
            margin-top:0.2em;
        }

        #letterinput {
            margin-bottom: 1em;
            width: 5em;
            font-size: 2em;
        }

        .myButton{
            font-size:1.5em;
        }

        p{
            font-size: 2em;
        font-weight: bold;
        color: aqua;
        }

        #msg{
margin-top:1em;
        }
}

